

.toDoCard{
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    position: relative;
    
}

.toDoTitle{
    display: flex;
    justify-content: center;
    
}

.toDoContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.toDoButton{
    position: absolute;
    right: 10px;
    bottom: 10px;
}